.main-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-bottom: 3rem;
}

.bar-content {
  flex: 1;
  height: 50px;
}

.bar-container {
  display: flex;
  flex-wrap: wrap;
}

.input {
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  align-self: center;
  margin: 15px;
}

.label {
  padding: 20px;
}

@media (max-width: 1024px) {
  .label {
    padding: 20px 5px;
  }
  .main-container {
    width: 65rem;
  }
}

@media (max-width: 1240px) {
  .main-container {
    width: 75rem;
  }
}
