.course-card-container {
  margin: 0.2rem;
  line-height: 5px;
  text-align: left;
  width: 6rem;
}

.clg-fees {
  color: forestgreen;
  font-size: 20px;
  font-weight: 500;
}

.course,
.clg-year {
  font-size: 14px;
}

.compare {
  color: red;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
}
